{% extends '@Bug/base.html.twig' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/bug/css/issue.css") }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-8">
                    <h2><strong>{{ issue.code |upper }}-{{ issue.id }}</strong> {{ issue.summary }}</h2>
                    <a href="{{ path('bug_issue_edit',{'issue': issue.id}) }}" class="glyphicon glyphicon-pencil"
                       style="font-size: 20px; color: brown">{{ 'edit'|trans|capitalize }}</a>
                </div>
                <div class="col-md-4">
                    <h4>{{ 'assignee'|trans|capitalize }}: <strong>{{ issue.assignee }}</strong></h4>
                    <h4>{{ 'creator'|trans|capitalize }}: <strong>{{ issue.reporter }}</strong></h4>
                </div>
            </div>
            <hr>
            <h3>{{ 'summary'|trans|capitalize }}</h3>

            <p>{{ issue.summary }}</p>
            <hr>
            <h3>{{ 'description'|trans|capitalize }}</h3>

            <p>{{ issue.description }}</p>
            <br>


            <hr>

            <h3>Comments</h3>

            <div id="contents">

            </div>
        </div>
        <div class="col-md-3" id="block_for_activity">
            <details>
                <summary><strong>{{ 'collaborators'|trans |capitalize }}</strong></summary>
                {% set users = issue.collaborators %}
                {% include '@Bug/widgets/users_list_widget.html.twig' %}

            </details>


            <details>
                <summary><strong>{{ 'activity'|trans |capitalize }}</strong></summary>
                So far away we wait for the day
                For the light source so wasted and gone
                We feel the pain of a lifetime lost in a thousand days
                Through the fire and the flames we carry on
            </details>

            <details>
                <summary><strong>{{ 'members'|trans |capitalize }}</strong></summary>
                So far away we wait for the day
                For the light source so wasted and gone
                We feel the pain of a lifetime lost in a thousand days
                Through the fire and the flames we carry on
            </details>



        </div>
    </div>

    <script>
        $(document).ready(function () {
            getComments();

            $('form[name=bug_issue_comment]').on('submit', function (e) {
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: '{{path('issue_comment',{'issue':issue.id})}}',
                    data: $(this).serialize(),
                    success: function (data) {
                        $('#contents').html(data);
                    }
                });
            });

            function getComments() {
                $.ajax({
                    type: "POST",
                    url: '{{path('issue_comment',{'issue':issue.id})}}',
                    async: false,
                    success: function (data) {
                        $('#contents').html(data);
                    }

                });
            }

        });
    </script>
{% endblock %}