<div class="count">
    {% if user is defined %}
        <h4> {{ 'userAreIssues'|trans({"%num%":'<b>'~pagination.getTotalItemCount~'</b>','%who%':who})|capitalize|raw }}</h4>
    {% else %}
        <h4> {{ 'youAreIssues'|trans({"%num%":'<b>'~pagination.getTotalItemCount~'</b>','%who%':who})|capitalize|raw }}</h4>
    {% endif %}
</div>
<table class="table table-striped">
    <tr>
        {# sorting of properties based on query components #}
        <th>{{ knp_pagination_sortable(pagination,'code'|trans|capitalize, 'i') }}</th>
        <th>{{ knp_pagination_sortable(pagination,'project'|trans|capitalize, 'i.project.label') }}</th>
        <th>{{ knp_pagination_sortable(pagination,'summary'|trans|capitalize, 'i.summary') }}</th>

        <th>{{ 'type'|trans|capitalize }}</th>
        <th>{{ 'priority'|trans|capitalize }}</th>
        <th>{{ 'status'|trans|capitalize }}</th>
        <th>{{ 'resolution'|trans|capitalize }}</th>
        <th>{{ 'assignee'|trans|capitalize }}</th>
        <th>{{ 'reporter'|trans|capitalize }}</th>
        {% block another_fields_titiles %}
        {% endblock %}
    </tr>

    {# table body #}
    {% for i in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td><a href="{{ path('bug_issue_view',{'issue': i.id}) }}">{{ i.fullCode }}</a></td>
            <td>{{ i.project }}</td>
            <td>{{ i.summary|slice(0,255) }}</td>
            <td>{{ i.type }}</td>
            <td>{{ i.priority }}</td>
            <td>{{ i.status }}</td>
            <td>{{ i.resolution }}</td>
            <td>{{ i.assignee }}</td>
            <td>{{ i.reporter }}</td>
            {% block another_fields_values %}
            {% endblock %}
        </tr>
    {% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>