{% extends '@Bug/base.html.twig' %}

{% block body %}
    <div id="admin_users_list">
        <h1>User Editor</h1>

        <div class="count">
            Users:{{ pagination.getTotalItemCount }}
        </div>
        <table class="table table-striped">
            <tr>
                {# sorting of properties based on query components #}
                <th>{{ knp_pagination_sortable(pagination, 'id'|trans|capitalize, 'u.id') }}</th>
                <th{% if pagination.isSorted('u.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'username'|trans|capitalize, 'u.username') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'email'|trans|capitalize, 'u.email') }}</th>
                <th>{{ 'role'|trans }}</th>
                <th>{{ 'edit'|trans }}</th>
                <th>{{ 'delete'|trans }}</th>
            </tr>

            {# table body #}
            {% for user in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td><a href="{{ path('user_page',{'user': user.id}) }}">{{ user.id }}</a></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in  user.roles %}
                            {{ role }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('bug_admin_useredit',{'user': user.id}) }}" class="glyphicon glyphicon-edit"
                           style="font-size: 20px; color: brown">
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('bug_admin_userdelete',{'user': user.id}) }}"
                           class="glyphicon glyphicon-remove"
                           style="font-size: 20px; color: red">
                        </a>
                    </td>


                </tr>
            {% endfor %}
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}